<div id="wrapper">
<mat-toolbar style="display: flex; justify-content: flex-end; align-items: center;">
  <button mat-icon-button mat-dialog-close color="primary">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>


    <img src="../../../assets/icon/opps.jpg" alt="Oops" style="width: 300px; height: 300px;">
    <div class="button-row">
        <button id="try-again-btn" (click)="closeDialog('tryAgain')"><i>🔁</i> Try Again</button>
        <button id="next-btn" (click)="closeDialog('next')"><i>➡️</i> Next</button>
    </div>
</div>