<div id="wrapper">
    <div class="topicsarea">
        <button type="button">Leve 1/Week 2/day 5</button>
        <span>{{CurrentQuestion.topics}}</span>
        <span></span>
    </div>
    <div class="qArea">
        <div class="letter-selector">
            <span>🎨 {{ CurrentQuestion.Question}} 🖍️</span>
        </div>

        <div class="letter-selector2">
            <span> {{ CurrentQuestion.instruction}}</span>
        </div>
    </div>

    <!-- <div class="questionheader">
        <span>🎨 {{ CurrentQuestion.Question }} 🖍️</span>
    </div> -->

    <div class="qarea">
        <div class="imgarea">
            <img [src]="base_url + CurrentQuestion.question_Img" alt="Question Image" />
        </div>

        <div class="question-content">
            <div class="option-buttons">
                <button mat-button *ngIf="CurrentQuestion.OptionA" (click)="selectOption(CurrentQuestion.OptionA)"
                    [ngClass]="{'active-option': filledWord === CurrentQuestion.OptionA}">
                    {{ CurrentQuestion.OptionA }}
                </button>
                <button mat-button *ngIf="CurrentQuestion.OptionB" (click)="selectOption(CurrentQuestion.OptionB)"
                    [ngClass]="{'active-option': filledWord === CurrentQuestion.OptionB}">
                    {{ CurrentQuestion.OptionB }}
                </button>
                <button mat-button *ngIf="CurrentQuestion.OptionC" (click)="selectOption(CurrentQuestion.OptionC)"
                    [ngClass]="{'active-option': filledWord === CurrentQuestion.OptionC}">
                    {{ CurrentQuestion.OptionC }}
                </button>
                <button mat-button *ngIf="CurrentQuestion.OptionD" (click)="selectOption(CurrentQuestion.OptionD)"
                    [ngClass]="{'active-option': filledWord === CurrentQuestion.OptionD}">
                    {{ CurrentQuestion.OptionD }}
                </button>
            </div>

            <!-- <span style="width: 100%; height: 40px;"></span> -->


            <div class="incomplete-word">
                <span *ngIf="CurrentQuestion.incomplete_word">
                    {{ CurrentQuestion.incomplete_word.split('__')[0] }}
                    <span class="highlight">{{ filledWord || '__' }}</span>
                    {{ CurrentQuestion.incomplete_word.split('__')[1] }}
                </span>
            </div>
        </div>
    </div>

    <div class="button-container">
        <button class="reset-btn" (click)="resetSelection()">🔄 Reset</button> &nbsp; &nbsp;
        <button class="save-btn" (click)="CheckCorrect()">✅ Save & Next</button>
    </div>
</div>