<div id="wrapper">
    <div class="leftarea">

        <div *ngIf="QuestionType == 'LetterTracing'" id="LetterTracing">
            <app-letter-tracking [CurrentQyt]="CurrentQuestion"></app-letter-tracking>
        </div>

        <div *ngIf="QuestionType == 'LetterMatch'" id="LetterMatch">
            <app-letter-match [CurrentQyt]="CurrentQuestion"></app-letter-match>
        </div>

        <div *ngIf="QuestionType == 'BlendWords'" id="BlendWords">
            <app-blend-words [CurrentQuestion]="CurrentQuestion"></app-blend-words>
        </div>

        <div *ngIf="QuestionType == 'ListenWords'" id="ListenWords">
            <app-listen-words [CurrentQuestion]="CurrentQuestion"></app-listen-words>
        </div>

        <div *ngIf="QuestionType == 'MCQ'" id="MCQ">
            <app-mcq [CurrentQuestion]="CurrentQuestion"></app-mcq>
        </div>

    </div>


    <div class="rightarea">
        <div class="reportCard">
            <div class="profileHeader">
                <div class="profileimage">
                    <img src="../../../assets/icon/profile.jpeg" alt="">
                </div>
                <div class="name">
                    MR John
                </div>
                <div class="studentid">
                    Student ID : AB3265
                </div>

                <div class="studentid">
                    <span>Leave 1</span>
                    <span>Week 9</span>
                    <span>Day 2</span>
                </div>

            </div>

            <div class="reportarea">
                <div class="progess">
                    <span>Today's Progress Report: 0/25</span>
                    <div class="progessline">
                        <section class="example-section">
                            <mat-progress-bar class="example-margin" [value]="10">
                            </mat-progress-bar>
                        </section>
                    </div>
                    <div class="progessCricelarea">
                        <div class="rightans">
                            <circle-progress [percent]="40" [radius]="50" [outerStrokeWidth]="8" [innerStrokeWidth]="4"
                                [outerStrokeColor]="'green'" [innerStrokeColor]="'lightgray'" [animation]="true"
                                [animationDuration]="1000">
                            </circle-progress>
                        </div>
                        <div class="worngans">
                            <circle-progress [percent]="40" [radius]="50" [outerStrokeWidth]="8" [innerStrokeWidth]="4"
                                [outerStrokeColor]="'red'" [innerStrokeColor]="'lightgray'" [animation]="true"
                                [animationDuration]="1000">
                            </circle-progress>
                        </div>
                    </div>
                </div>
                <div class="progess">
                    <span>{{CurrentQuestion.topics}} Progress Report: {{i}}/{{AllQuestion.length}}
                    </span>
                    <div class="progessline">
                        <section class="example-section">
                            <mat-progress-bar class="example-margin" [value]="((i) / AllQuestion.length) * 100">
                            </mat-progress-bar>
                        </section>
                    </div>
                    <div class="progessCricelarea">
                        <div class="rightans">
                            <circle-progress [percent]="topicsRightPro" [radius]="50" [outerStrokeWidth]="8"
                                [innerStrokeWidth]="4" [outerStrokeColor]="'green'" [innerStrokeColor]="'lightgray'"
                                [animation]="true" [animationDuration]="1000">
                            </circle-progress>
                        </div>
                        <div class="worngans">
                            <circle-progress [percent]="topicsWorngPro" [radius]="50" [outerStrokeWidth]="8"
                                [innerStrokeWidth]="4" [outerStrokeColor]="'red'" [innerStrokeColor]="'lightgray'"
                                [animation]="true" [animationDuration]="1000">
                            </circle-progress>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>