.homework-container {
    border-radius: 24px;
    border: 2px solid orange;
    padding: 20px;
    // margin: 10px;
    background: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .previous-btn {
    background-color: #f44336;
    color: white;
    border-radius: 25px;
    padding: 10px 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .report-title {
    text-align: center;
    color: #f39c12;
    font-weight: 700;
  }
  
  .filters {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
  
    mat-form-field {
      width: 150px;
      background: #f4f4f4;
      border-radius: 6px;
    }
  }
  
  .report-table {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
  
    th {
      background-color: maroon;
      color: white;
      font-weight: bold;
      text-align: center;
    }
  
    td {
      text-align: center;
      font-weight: 500;
    }
  
    .green {
      color: green;
    }
  
    .red {
      color: red;
    }
  
    tr:nth-child(even) {
      background-color: #fef6e4;
    }
  
    tr:nth-child(odd) {
      background-color: #ecfdf5;
    }
  }
  