<div id="wrapper">
       <div class="topicsarea">
        <button type="button">Class {{userData.Class}}/Week {{currentWeek}}/day
            {{currentDay}}</button>
        <span>{{CurrentQuestion.topics}}</span>
        <span></span>
    </div>
    <div class="qArea">
        <div class="letter-selector">
            <span>🎨 {{ CurrentQuestion.Question}} 🖍️</span>
        </div>

        <div class="letter-selector2">
            <span> {{ CurrentQuestion.instruction}}</span>
        </div>
    </div>
    <div class="question_area">
        <div class="question-content">
            <div class="left">

                <iframe *ngIf="CurrentQuestion.video_url_youtube" [src]="getVerify(CurrentQuestion.video_url_youtube)"
                    frameborder="0" class="iframe-player" width="100%" allowfullscreen>
                </iframe>


                <div class="video-container" *ngIf="CurrentQuestion.video_url_local">
                    <video #videoElement [src]="base_url + CurrentQuestion.video_url_local"
                        (timeupdate)="onTimeUpdate()" (loadedmetadata)="onLoadedMetadata()" class="video-player"
                        controlsList="nodownload">
                    </video>

                    <div class="controls">
                        <button (click)="togglePlay()" title="Play/Pause">
                            <span *ngIf="!isPlaying">▶️</span>
                            <span *ngIf="isPlaying">⏸️</span>
                        </button>
                        <button (click)="toggleFullScreen(videoElement)" title="Fullscreen">⛶</button>
                    </div>
                </div>

            </div>
            <div class="right">
                <div class="imgarea">
                    <img [src]="base_url + CurrentQuestion.question_Img" alt="Question Image" width="200px"
                        height="200px" />
                </div>

                <div class="inner_question_content">
                    <div class="listen_word">
                        <span>{{CurrentQuestion.listen_word }}</span>
                    </div>

                    <div class="listenword">
                        <button class="btn btn-primary btn-sm mt-2" (click)="onPlayRec(CurrentQuestion.listen_rec)">
                            <mat-icon>play_circle_outline</mat-icon> Listen
                            Word </button>
                    </div>

                </div>
            </div>
            <div class="button-container">
                <button class="reset-btn" (click)="resetSelection()">🔄 Reset</button> &nbsp; &nbsp;
                <button class="save-btn" (click)="CheckCorrect()">✅ Save & Next</button>
            </div>
        </div>